python = "^3.10"
discord = "^2.3.1"
requests = "^2.31.0"
python-dotenv = "^1.0.0"
peewee = "^3.16.2"
psycopg2 = "^2.9.6"
peewee-aio = "^1.6.0"
pytest = "^7.4.0"
sqlalchemy = "^2.0.20"
pytest-postgresql = "^5.0.0"
pytest-pgsql = "^1.1.2"
pytest-mock = "^3.11.1"
black = "^23.7.0"
